<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/?role={{role}}">CM3010 P05</a>
    <div class="ms-auto">
      <span class="badge text-bg-secondary">role: {{role}}</span>
    </div>
  </div>
</nav>

